<!-- 测试文件 -->
<launch>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav_demo)/rviz/test_amcl.rviz" />
    <!-- 加载地图服务 -->
    <include file="$(find nav_demo)/launch/nav03_map_server.launch" />
    <!-- amcl文件 -->
    <include file="$(find nav_demo)/launch/nav04_amcl.launch">
        <arg name="car_name" value="car1" />
    </include>

    <include file="$(find nav_demo)/launch/nav04_amcl.launch">
        <arg name="car_name" value="car2" />
        <!-- <arg name="use_tf" value="false"/> -->
    </include>

</launch>